.active-link {
  font-weight: bold;
  /* color: #ffffff;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent; */
}

.nav-link {
  color: black;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
}

.nav-link.active-link {
  border-bottom-color: #ffffff;
}

@media (max-width: 900px) {
  .header-nav-link {
    display: none;
  }
}
